<div class="center hero-unit">
	<h1>Добро пожаловать в мир Задач о Спутниках</h1>

	<h2>
		Это стартовая страница данного веб-приложения.
	</h2>

	<%= link_to "Зарегистрируйтесь!", '#', class: "btn btn-large btn-primary" %>
</div>