<% if signed_in? %>
  <% controller.redirect_to current_user %>
<% else %>
  <div class="center hero-unit">
    <h1>Добро пожаловать!</h1>
    <h2>
      Сей познавательный ресурс позволит вам проверить свои навыки и знания, соревнуясь в решении задач с другими пользователями
    </h2>
    <%= link_to "Зарегистрируйтесь!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>