<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Форма содержит <%= object.errors.count %>
      <% case object.errors.count %>
      <% when 1 %>
      ошибку:
      <% when 2..4 %>
      ошибки:
      <% else %>
      ошибок:
      <% end %>
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>- <%= msg %> </li>
    <% end %>
  </ul>
</div>
<% end %>