<% provide(:title, "Решение №#{@solution.id}") %>
<div class="row">
  <div class="span12">
    <h3>
      Исходный код решения №<%= @solution.id %> задачи №<%= @solution.task_id %>
    </h3>
  </div>
  <div class="span12">
    <pre class="brush: java; toolbar: false;"><%= File.read("public/uploads/solution/attachment/#{@solution.id}/sol.java") %></pre>
  </div>
  <div class="span12 compile-result">
    <% if File.read("public/uploads/solution/attachment/#{@solution.id}/compile.log").blank? %>
    <% else %>
      <legend>Ошибки компиляции:</legend>
      <pre class="pre-tag"><%= File.read("public/uploads/solution/attachment/#{@solution.id}/compile.log") %></pre>
    <% end %>
  </div>
</div>