<footer class="footer">
  <small>
    <a href="http://vk.com/geraltzrivii">vk: GeraltZRivii</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас", about_path %></li>
      <li><%= link_to "Правила", '#' %></li>
    </ul>
  </nav>
</footer>